html,body {
  height: 99.9%;
  margin: 0;
}

div {
  height: 100%;
  margin: 0;
}

.divMain {
  display: flex;
  width: 100%;
}


.divInp {
  width: 20%;
}
.divHea {
  height: 40px;
}
.divTxa {
  height: calc(100% - 40px);
}


.divSum {
  width: 20%;
}
.divBut {
  height: calc(100% - 40px);
}
.divHistoryAll {
  height: 40px;
}
.divHistoryButtons {
  height: calc(100% - 40px);
  overflow-y: auto;
}


.divDet {
  width: 60%;
}
.divDetHea {
  display: flex;
  height: 80px;
  overflow: hidden;
}
.divDetHeaAll{
  width: 60px;
}
.divDetHeaBut{
  width: calc(100% - 60px);
  overflow: auto;
}
.divDetTxa {
  height: calc(100% - 80px);
}


textarea {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttonMode {
  width: 100px;
  height: 40px;
}

.buttonLt {
  width: calc(100% / 3);
  height: 40px;
}

.buttonAll {
  width: 100%;
  height: 100%;
}

.buttonHis {
  display: block;
  width: 100%;
  height: 20px;
}

.buttonDet {
  display: inline;
  height: 20px;
}
