html,body {
  height: 99.9%;
  margin: 0;
}

div {
  height: 100%;
  margin: 0;
}

.divMain {
  display: flex;
  width: 100%;
}


.div30 {
  width: 30%
}

.div70 {
  width: 70%;
  margin: 20px;
}

textarea {
  width: 100%;
  height: 100%
}
