html,body {
  height: 99.9%;
  margin: 0;
}

div {
  height: 100%;
  margin: 0;
}

.divMain {
  display: flex;
  width: 100%;
}


.div15 {
  width: 15%;
  height: calc(100% / 2);
}

.div70 {
  width: 70%;
}

textarea {
  width: 100%;
  height: 95%;
  border: 0px;
}

.summ {
  height: 5%
}

.react-grid-layout {
  position: relative;
  transition: height 0ms ease;
}
.react-grid-item {
  transition: all 0ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
