div {
  background-color: #313335;
  color: #A9B7C6;
}

.divInp {
  height: 100%;
}

.divOptGr {
  height: 120px;
}

.divBtnGr {
  height: -moz-calc(100% - 140px);
  height: calc(100% - 120px);
  overflow: scroll;
}

.divOpt {
  height: 40px;
}

.div-button {
  height: auto;
  min-height: 30px;
  border: 0.1px solid black;
  text-align: center;
}

.div-button-active {
  background-color: #3A3A3A;
  color: #8C8C8C;
  height: auto;
  min-height: 30px;
  border: 0.1px solid black;
  text-align: center;
}

button {
  height: 35px;
  width: 100%;
  display: inline-block;
  background-color: #313335;
  color: #A9B7C6;
}

select {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-color: #313335;
  color: #A9B7C6;

}

input {
  height: 100%;
  width: 97%;
  display: inline-block;
  background-color: #313335;
  color: #A9B7C6;
}
