div {
  background-color: #1f2223;
  color: #7D8C93;
}

.divInp {
  height: 100%;
}

.divOptGr {
  height: 120px;
}

.divBtnGr {
  height: -moz-calc(100% - 140px);
  height: calc(100% - 140px);
  overflow: scroll;
}

.divOpt {
  height: 40px;
}

.div-button {
  height: auto;
  min-height: 30px;
  border: 0.1px solid black;
  text-align: center;
}

.div-button-active {
  background-color: #2F393C;
  color: #7D8C93;
  height: auto;
  min-height: 30px;
  border: 0.1px solid black;
  text-align: center;
}

button {
  height: 35px;
  width: 100%;
  display: inline-block;
  background-color: #1f2223;
  color: #7D8C93;
}

select {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-color: #1f2223;
  color: #7D8C93;

}

input {
  height: 100%;
  width: 97%;
  display: inline-block;
  background-color: #1f2223;
  color: #7D8C93;
}
