div {
  background-color: #1f2223;
  color: #7D8C93;
}

button {
  height: 35px;
  width: 50px;
  display: inline-block;
  background-color: #1f2223;
  color: #7D8C93;
  border-color:  #1f2223;
}

select {
  height: 100%;
  width: 100%;
  display: inline-flex;
  background-color: #1f2223;
  color: #7D8C93;
  border-color:  #2F393C;
}

input {
  height: 100%;
  width: 97%;
  display: inline-block;
  background-color: #1f2223;
  color: #7D8C93;
  border-color:  #2F393C;

}
